@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');

* {
  font-family: times;
}

body {
  background: #fff;
}

hr {
  background-image: url('img/hr-img.gif');
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
}

main p {
  color: #333;
  font-size: 1.2em;
  line-height: 1.3em;
}

aside h3 {
  font-size: 1.6em;
  color: #555;
}

aside button {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  background: #b8705a;
  color: #fff;
  font-size: 1.2em;
}

footer section p{
  line-height: 1.5em;
  color: #aaa;
}
